
nav {
  background: gray;
  padding: 6px 6px;
}

nav > a{
  display: inline-block;
  box-sizing: border-box;
  width: 150px;
  padding: 5px;
  margin: 0 6px 6px;
  background: palegreen;
  text-decoration: none;
  text-align: center;
  color: black;
}

a.active {
  background: green;
  color: white;
}